In [2]:
n=input()
n=int(n)
arr1=[]

for i in range(n):
  inp=input()
  inp=int(inp)

  arr1.append(inp)

arr2=[]

for i in range(n):
  inp=input()
  inp=int(inp)

  arr2.append(inp)

import numpy as np

ans1=np.max(arr1)
ans2=np.max(arr2)

if ans1>ans2:
  print(ans1)
else:
  print(ans2)

3
5
7
10
15
2
5
15

In [5]:
# last digit
n=input()
n=int(n)
ans=n%10
print(ans)

87
7

In [19]:
# important 

n=input()
n=int(n)
count=0
while(n>0):
  

  rem=n%10
  count=count+1
  if count==2:
    print(rem)
    break
  #print(rem,end=" ")
  n=n//10

145761559598
9

In [24]:
#sum of last 2 digit

n=input()
n=int(n)
count=0

digit=[]
while(n>0):
  dig=n%10
  n=n//10
  digit.append(dig)

sum=digit[0]+digit[1]
print(sum)

753
8

In [27]:
n=5
inp=[]
for i in range(n):
  a=input()
  a=int(a)
  inp.append(a)

count=0
import numpy as np 
inp=np.abs(inp)


for i in inp:
  if i%2==0:                        # len(n) - count = odd number 
    count=count+1
print("No of even number",count)

-45
-9
7
-42
6
No of even number 2

In [28]:
print(inp)

[45  9  7 42  6]

In [33]:
# prime number

num = 9

if num > 1: 

   for i in range(2, num):  
       if (num % i) == 0: 
           print(num, "is not a prime number") 
           break
   else: 
       print(num, "is a prime number") 
  
else: 
   print(num, "is not a prime number")

9 is not a prime number

In [43]:
import numpy as np

def fact(n):
  n=np.abs(n)

  if n == 0 :
    return 1 
    
  if n is 1:
    return 1
  
  else:
    return n * fact(n-1)

fact(-1)

1

In [50]:

def fibonic(n):

  a=0
  b=1
  print(a,end=" ")
  print(b,end=" ")

  if n==0:
    return 0
  elif n== 1:
    return 1

  else:
    for i in range(2,n):

      c=a+b
      print(c,end=" ")
      a=b
      b=c
    print()
    return print("the number at",n,"is",c)


fibonic(9)

0 1 1 2 3 5 8 13 21
the number at 9 is 21

In [69]:
def prime(n):
  l=[]
  for i in range(2,50):
    for j in range(2,i):
      if i % j == 0:
        break 
    else:
      l.append(i)
  return l,l[n-1]
  
    
p_list,n_th=prime(7)


print(p_list)
print()
print(n_th)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

17

In [72]:
# all digits count 


def count(n):

  count=0
  while(n>0):
    dig=n%10
    n=n//10
    count=count+1
  return count

count(52344444444444)

14

In [6]:
# Non repeated digits of number 

import numpy as np

def count(n):
  if n==0:
    return 1
  if n<0:
    n=np.abs(n)
  

  ll=set()
  while(n>0):
    dig=n%10
    n=n//10
    ll.add(dig)
    #print(ll)
  return len(ll)

  

count(-244)

2

In [11]:
def unique(n,digg):
  chk=[]

  while(n>0):
    dig=n%10
    n=n//10
    chk.append(dig)
  
  return chk.count(digg)

unique(1111646,6)

2

In [18]:
# sum o all digit iin n 

import numpy as np

def summ(n):
  sum=0
  if n ==0:
    return 0
  if n<0:
    n=np.abs(n)
    return summ(n)
  while(n>0):
    dig=n%10
    n=n//10
    sum=sum+dig
  return sum
summ(-8965)

28

In [22]:
# sum of even digits in n 

def summ_even(n):
  sum=0
  if n==0:
    return 0
  if n<0:
    import numpy as np
    n=np.abs(n)
    return summ_even(n)
  while(n>0):
    dig=n%10
    n=n//10
    if dig%2==0:
      sum=sum+dig
  return sum

summ_even(-486)

18

In [33]:
# to check the number is palindrome 



def palindrome(n):
  if n==0:
    return print("its palindrome")
  if n<0:
    import numpy as np 
    n=np.abs(n)
    return palindrome(n)
  chk_palindrome=[]
  while(n>0):
    dig=n%10
    n=n//10
    chk_palindrome.append(dig)
  
  orginal=list(reversed(chk_palindrome))
  if chk_palindrome == orginal:
    return print("Its palindrome")
  else:
    return print("No its not palindrome")

palindrome(00)

its palindrome

In [40]:

 
def second_word(word):

  text=word
  text=text.split()
  return text[1].upper()

second_word("Ganesh aB.")

'AB.'

In [54]:
# Python code to reverse a string 
# using loop 

def reverse(s):
  str = "" 
  for i in s:
    str = i+str
  return str.lower()

s = "Geeksforgeeks"


print (s.lower()) 

print ("The reversed       ",end="") 
print (reverse(s))

geeksforgeeks
The reversed       skeegrofskeeg

In [56]:
def reversee(s):
  s=s[::-1]    # start stop step ,, by default start is 0 ( blank ), stop is length of string(blank ) , -1 start from reverse
  
  return s
reversee("ganesh")

'hsenag'

In [ ]:
# most frequent digit 


def mfd(n):
  if n == 0:
    return 0 
  if n<0:
    import numpy as np
    n=np.abs(n)
  while(n>0):
    dig=n%10
    n=n//10

In [107]:

from collections import Counter 

def most_frequent(List): 
	occurence_count = Counter(List) 
	return occurence_count.most_common(1)[0][0]
	
List = [3,3,2,1,2, 1, 2, 2, 1, 3] 
print(most_frequent(List))

2

In [111]:
from collections import Counter
lists=['A','A','A','B','B','a','ganesh?']
chk=Counter(lists)
chk.most_common()[0][0]

'A'

In [84]:
s = 'ganesh raj'
np.prod([i+1 for i,v in enumerate(s) if v in ['a','e','i','o','u']])

72

In [98]:
def ppp(s):

  def chk(n):
    if n<10:
      return n
    else:
      new_sum=0
      while(n>0):
        dig=n%10
        n=n//10
        new_sum=new_sum+dig
      c=chk(new_sum)
      return c

  s=s.split()
  tot=0
  for i in s:
    tot=len(i)+tot
  
  if tot<10:
    return tot
  else:
    ans=chk(tot)
    return ans
  

ppp("Ganesh raj is good boy")

9

In [120]:
a="1234"
b="56"

a=int(a)
b=int(b)
c=a+b
print(str(c))

1290

In [5]:
# Identify possible words 

input_dict= ['goo', 'bat', 'me', 'eat', 'goal', 'boy', 'run'] 
charSet = ['e', 'o', 'b', 'a', 'm', 'g', 'l'] 


def chk(s,letters):
  word=letters
  leng=len(s)
  count=0
  for i in s:
    if i in word:
      count=count+1
  if count==leng:
    return True
  
ans=[]
j=-1
for i in input_dict:
  j=j+1
  i=list(i)
  if chk(i,charSet):
    ans.append(input_dict[j])
for i in ans:
  print(i,end=" ")

goo me goal

In [ ]:
"""
If the given number is 582109, 
the Sum of Powers of Digits = = (5 raised to the power of 6) + (8 raised to the power of 5) + (2 raised to the power of 4) + (1 raised to the power of 3)
+ (0 raised to the power of 2) + (9 raised to the power of 1) = 15625 + 32768 + 16 + 1 + 0 + 9 = 48419

"""

In [29]:
import numpy as np

a=00000000

num=np.abs(a)
a=str(a)
a_=str(num)
a=list(a)
leng=len(a)

ans=[]
j=0

for i in range(leng,0,-1):
  a[j]=int(a[j])
  
  c=pow(a[j],i)
  ans.append(c)
  j=j+1
summ=0
for i in ans:
  summ=summ+i
print(summ)

0

In [26]:
import numpy as np 
a=-582109
num=np.abs(a)
a=str(a)
a=list(a)

if a[0] is '-':
  a.remove('-')
  l=len(a)
  j=0
  new=[]
  for i in range(l):
    j=j+1
    a[i]=int(a[i])
    c=pow(a[i],j)
    new.append(c)
  tot=0
  for i in new:

    tot=tot+i
  tot=str(tot)
  print('-'+tot)

-531519

In [30]:
def add_digits(string):
    result = 0
    for i in range(len(string)):
        for char in string[i:]:
            result += int(char)
    return result

print(add_digits("582109"))

85

In [34]:
a="582109"
for i in a[i:]:
  print(i)

5
8
2
1
0
9